@import url(../blocks/link.css);
@import url(../blocks/global.css);

.anime {
  margin: 0;
  background-color: #bceef0;
}

.anime__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.anime__title {
  font-size: 125px;
  margin: 20px auto;
  font-weight: 600;
  font-family: "swindle", "Georgia", "Times New Roman";
  color: #681414;
  text-align: center;
}

.anime__subtitle {
  color: #681414;
  max-width: max-content;
  margin: 0 auto 20px;
  border: 7px;
  border-radius: 0% 0% 30% 30%;
  border-style: solid;
}

.anime__subtitle_2 {
  border-radius: 30% 30% 0% 0%;
}

.anime__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.anime__legend {
  margin: 0 auto 20px;
  padding: 55px;
  width: 1200px;
  height: 300px;
  border: 20px;
  border-color: #681414;
  border-radius: 35%;
  border-style: groove;
  background-color: #681414;
}

.anime__legend-chunk {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.anime__icon-group {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding-bottom: 20px;
}

.anime__icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.anime__icon-title {
  font-size: 40px;
  color: #fff;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.anime__icon-subtitle {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.anime__box {
  background-color: rgb(123, 58, 143);
  margin: 0;
  padding: 20px;
}

.anime__row {
  display: flex;
}

.anime__list {
  margin: 0;
  padding-bottom: 30px;
}

.anime__list_r {
  background-color: #f48f88;
  color: #2f5255;
}

.anime__list_o {
  background-color: #f4bc88;
  color: #3d566e;
}

.anime__list_y {
  background-color: #f4e788;
  color: #614174;
}

.anime__list_g {
  background-color: #b0f488;
  color: #4a3258;
}

.anime__list_gg {
  background-color: #88f496;
  color: #63365d;
}

.anime__list_b {
  background-color: #88e4f4;
  color: #553530;
}

.anime__list_i {
  background-color: #888af4;
  color: #464526;
}

.anime__list-v {
  background-color: #cc88f4;
  color: #3a502d;
}

.anime__list-link {
  color: #2f5255;
  font-weight: 700;
  font-size: 35px;
  padding-right: 10px;
}

.anime__list-link_1 {
  color: #3d566e;
}

.anime__list-link_2 {
  color: #614174;
}

.anime__list-link_3 {
  color: #4a3258;
}

.anime__list-link_4 {
  color: #63365d;
}

.anime__list-link_5 {
  color: #553530;
}

.anime__list-link_6 {
  color: #464526;
}

.anime__list-link_7 {
  color: #3a502d;
}

.anime__list-link:hover {
  color: #000;
  text-decoration: none;
}

.anime__icon_s {
  margin: 0;
  padding: 0 3px 0 0;
  width: 30px;
  height: 30px;
}
.anime__footer {
  margin: 5px;
  text-align: center;
}
