@import url(../blocks/link.css);
@import url(../normalize.css);

.shows__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shows__body {
  margin: 0;
  background-color: #d9b6e9;
}

.shows__title {
  font-size: 125px;
  margin: 0 auto 20px;
  font-weight: 600;
  font-family: "Georgia", "Times New Roman";
  color: #533249;
  text-align: center;
}

.shows__subtitle {
  color: #533249;
  max-width: max-content;
  margin: 0 auto;
  border: 5px;
  border-style: solid;
}

.shows__box {
  background-color: rgb(123, 58, 143);
  margin: 0;
  padding: 20px;
}

.shows__row {
  display: flex;
}

.shows__footer {
  margin: 5px;
  text-align: center;
}
